<h1>Ajouter un nouveau chantier</h1>
<form action="/chantier/ajoute" method="POST">
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" name="adresse" required>
    <br>
    <label for="ville">Ville:</label>
    <select id="ville" name="ville" required>
        {{#each villes}}
            <option value="{{this.id}}">{{this.nom_ville}}</option>
        {{/each}}
    </select>
    
    <br>
    <label for="contracteur">Contracteur:</label>
    <select id="contracteur" name="contracteur" required>
        {{#each contracteurs}}
            <option value="{{this.id}}">{{this.nom_compagnie}}</option>
        {{/each}}
    </select>
    <br>
    <label for="employees">Employés disponibles:</label>
    {{#each employees}}
        <div>
            <input type="checkbox" id="emp_{{this.id}}" name="employees" value="{{this.id}}">
            <label for="emp_{{this.id}}">{{this.nom}}</label>
        </div>
    {{/each}}
    <br>
    <button type="submit" class="btn-primary">Ajouter</button>
</form>
