<div class="contenu">
    <form action="/employe" method="post">
    <div class="form-group">
        <h4>Punch mobile de {{login.login}}</h4>
        <select class="selectFormulaire" name="id_chantier" id="id_chantier" required>
            <option value="">Sélectionnez un chantier</option>
                {{#each chantier}}
                    <option value="{{id}}">{{id}}-  {{nom_projet}}</option>
                {{/each}}
            </select>
            <br><br>
            <div class="espace">
                <button class="btn btn-primary" type="button" onclick="heureEntree()">Entrer au travail</button>
                <input class="espace" type="text" id="heureIn" name="heureIn" placeholder="Heure d'arrivée" readonly> {{heure.in}}
                <input class="espace" type="hidden" id="heureInChiffre" name="heureInChiffre" placeholder="pour la BD">{{heureInChiffre}}
            </div>
            <div class="espace">
                <button class="btn btn-dark" type="button" onclick="heureSortie()">Sortir du travail</button>
                <input class="espace" type="text" id="heureOut" name="heureOut"  placeholder="Heure de fin"readonly> {{heure.out}}
                <input class="espace" type="hidden" id="heureOutChiffre" name="heureOutChiffre" placeholder="pour la BD" readonly>{{heureOutChiffre}}
            </div>
            <input class="espace" value ="{{login.id}}" type="text" id="login" name="login" hidden placeholder="login"> 
           
        </div>
            <button class="btn btn-primary boutonGauche" type="submit">Ajouter</button>
        </form>
</div>



<script>

    function heure() {
        let now = new Date();
        let annee = now.getFullYear() + ` `;
        let mois    = now.getMonth() + 1 + `/`;
        let jour    = now.getDate() + `/`;
        let heure   = now.getHours() + `H`;
        let minute  = now.getMinutes();

		let unite = minute%10;
		let dizaine = (minute - unite)/10;

        if (dizaine === 0) {
            minute = "0" + now.getMinutes();
        }
   
        let maintenant = jour + mois + annee + heure + minute;

        return maintenant;
    }

    function heureEntree() {
        let heureInChiffre = new Date().getTime();
        document.getElementById("heureInChiffre").value = heureInChiffre; 
        let heureIn = heure();
        document.getElementById("heureIn").value = heureIn;
    }

    function heureSortie() {
        let heureOutChiffre = new Date().getTime();
        document.getElementById("heureOutChiffre").value = heureOutChiffre; 
        let heureOut = heure();
        document.getElementById("heureOut").value = heureOut;
}
</script>