<div class="grid-container">
    <div class="grid-item-center" id="employe">
        <input type="text" id="nom" name="nom" readonly> {{employe.nom}}</div><br>
    <div class="grid-item-center" id="numero">
        #<input type="text" id="numero" name="numero" readonly>{{employe.numero}}</div><br><br>
    <div class="grid-item-gauche" id="date">
        <input type="date" id="date" name="date" readonly> </div>
    <div class="grid-item-droite">
        <select name="menu_deroulant">
            <option value="">Sélectionnez un chantier</option>
            {{#each chantier}}
                <option value="{{this.adresse}}">{{this.adresse}}</option>
            {{/each}}
        </select>
    </div><br><br>
    <div class="grid-item-gauche" id="entree">
        <button class="btn btn-success" type="submit" onclick="heureEntree()">Entrer au travail</button></div>
    <div class="grid-item-droite" id="in">
       <input type="text" id="in" name="in" readonly> {{this.heure}}</div>
    </div>
    <div class="grid-item-gauche" id="sortie">
        <button class="btn btn-danger" type="submit" onclick="heureSortie()">Sortir du travail</button></div>
    <div class="grid-item-droite" id="out">
       <input type="text" id="out" name="out" readonly> {{this.heure}}</div>
    </div>
</div>