<form action="/factureRemplie" method="post">
    <div class="grid-container">
    <div class="grid-item-1">
        <h1>Facture</h1>
            No facture: <input type="text" class="sansContour" name="idChantier" value={{idChantier}}></strong><br>
        <span class="sousTexte">
            Date: <input type="date" name="date" id="calendrier" required><br>
        </span>
    </div>
    <div class="grid-item-3">
        <p class="coordonneesNom">
        <strong>Céramique David Laroche</strong><br>
        3012 Anctil, St-Denis-deBrompton, QC<br>
        819-222-2222<br>
        <span class="sousTexte">
        TPS: 33333333444 TVQ: 333333444444<br>
        RBQ: 22222222222</span>
        </p>
    </div>
    <div class="grid-item-4">
        <strong>Facturé à:</strong> <br>
        {{#each chantier}}
            {{this.nom}}<br>
            {{this.adresse_client}}
        {{/each}}
    
    </div>
    <div class="grid-item-6">
        <strong>Travaux effectués au:</strong><br>
        {{#each chantier}}
            {{chantier.nom_projet}}<br>
            {{this.adresse_chantier}}
        {{/each}}
    </div>
</div>
<br>

<!--Pour avoir accès au JSON pour la fonction loaderFacture() -->
<p hidden id="factureEnregistre">{{afficherFacture.facture}} 
</p>

 <!--Pour avoir accès au total d'heures pour la fonction heureFacturable() -->
<p hidden id="afficherHeureFacturable">
    {{heureFacturable.sous_total_heure}}
</p>
<table id="tableFacture" class="table table-striped">
    
        <tr id="enTeteTable" class="table-secondary">
            <th>Description</th>
            <th>Taux</th>
            <th>Quantité</th>
            <th>Sous-total</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id=>
            <td>Heures facturables</td>
            <td><input type="number" name="tauxHoraire" class="caseQuantite" id="tauxHoraire"  placeholder="requis" required onkeyup="calculHeure()"></td>
            <td><input type="number" name="nombreHeure" class="caseQuantite" id="heureFacturable"  step="0.01" placeholder="requis"  onkeyup="calculHeure()" required ></td>
            <td><span id="afficherSousTotalHeure"></span></td>
        </tr>
</table>
<button type="button" class="btn btn-primary pasImprimer" onclick="ajoutLigne()">Ajouter un frais</button>
<button type="button"class="btn btn-primary boutonDroite pasImprimer" onclick="calculSousTotalFinal()">CALCULER</button>
<table id="tableTotal" hidden class="table">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Sous-total</td>
            <td><span id="sousTotalFinal"></span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>TPS</td>
            <td id="tps"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>TVQ</td>
            <td id="tvq"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td id="totalFinal"></td>
        </tr> 
</table>

<div class="grid-container">
    <div class="grid-item-6">
        <button id="boutonEnregistrer" type="submit" hidden class="btn btn-primary pasImprimer">Enregister et archiver ce chantier</button>  
        <button id="boutonImprimer" type="button" hidden onclick="window.print()" class="btn btn-danger pasImprimer">Imprimer</button>
    </div>
</div>
</form>
<button class="btn btn-danger espace boutonDroite pasImprimer" onclick="location.href='/patron'">Retour au portail principal</button>
<script>

   document.addEventListener("DOMContentLoaded", loaderFacture)
    function loaderFacture(){
        heureFacturable()
        const json = document.querySelector("#factureEnregistre").innerHTML 
        if(json == ""){ // sert à rien, trouver une alternative
        }
        else
        {
        const obj = JSON.parse(json)
        let afficherDate = document.querySelector('#calendrier')
        afficherDate.value = obj.date

        let afficherTauxHoraire = document.querySelector("#tauxHoraire")
        afficherTauxHoraire.value = obj.tauxHoraire
        calculHeure()

        let afficherNombreHeure = document.querySelector("#heureFacturable")
        afficherNombreHeure.value = obj.nombreHeure  

        let nombreLigne = obj.menu_frais_fixe
        for (let x = 0; x<nombreLigne.length; x++){
            ajoutLigne()
        }

//incapable faire afficher les valeurs de menu_frais_fixe dans la facture enregistée et les autres champs
        /*let recupLigneMenu = document.getElementsByName("menu_frais_fixe")
            for (let x of recupLigneMenu){
                x.value = obj.menu_frais_fixe[0]
            } // met la même valeur à tous les menus, évidement*/

        /*let recupLigneMenu = document.getElementsByName("menu_frais_fixe")
            for (let x of obj.menu_frais_fixe){
                for(let y of recupLigneMenu){
                    y.value = x[0]
            }   
        }*/
    } 
}

var sousTotalHeure = 0; //utilisé pour le calcul final
var sousTotalFrais =0 // utilisé pour le calcul final

function Recup_select_info(menu, selection){
    var index = menu.selectedIndex;

    if((selection) && (selection == 'valeur')){
        return menu.options[index].value;}
    else{ 
        return index;}
}
 
 function afficherPrix(menu){
    let valeur_prix = Recup_select_info(menu,'valeur');
    let parentMenu = menu.parentElement
    let frereMenu = parentMenu.nextElementSibling 
    valeur_prix = Number(valeur_prix)
    frereMenu.innerHTML= valeur_prix.toFixed(2)
}

function heureFacturable(){
    let total = Number(document.querySelector("#afficherHeureFacturable").innerHTML)
    total = (total / 3600000).toFixed(2);
    document.querySelector("#heureFacturable").value = total  

}

function calculHeure(){
    document.querySelector("#tableTotal").hidden = true
    document.querySelector("#boutonEnregistrer").hidden = true
    document.querySelector("#boutonImprimer").hidden = true

    let heureFacturable = document.querySelector("#heureFacturable").value
    let tauxHoraire = document.querySelector('#tauxHoraire').value
    let afficherSousTotalHeure = document.querySelector("#afficherSousTotalHeure")
    tauxHoraire = Number(tauxHoraire)
    heureFacturable = Number(heureFacturable)
    totalHeure = heureFacturable * tauxHoraire 

    afficherSousTotalHeure.innerHTML = totalHeure.toFixed(2)
    sousTotalHeure = totalHeure
} 

function calculFraisFixes(quantite){
    document.querySelector("#tableTotal").hidden = true
    document.querySelector("#boutonEnregistrer").hidden = true
    document.querySelector("#boutonImprimer").hidden = true
    let parentQuantite = quantite.parentElement
    let valeur_prix = parentQuantite.previousElementSibling
    let afficherSousTotal = parentQuantite.nextElementSibling
    let sousTotal = valeur_prix.innerHTML * quantite.value
    afficherSousTotal.innerHTML = sousTotal
}

function calculTotalFraisFixe(){
    let recupTotaux = document.getElementsByName("sousTotalFraisFixe")
    for(let x of recupTotaux){
        valeurSousTotal = Number(x.innerHTML)
        sousTotalFrais += valeurSousTotal
    }
     console.log(sousTotalFrais)
}

function calculSousTotalFinal(){
    calculTotalFraisFixe()
    afficherSousTotalFinal = document.querySelector("#sousTotalFinal")
    afficherTotalFinal = document.querySelector("#totalFinal")
    sousTotalFinal = sousTotalHeure + sousTotalFrais
    afficherSousTotalFinal.innerHTML = sousTotalFinal.toFixed(2)
    calculTaxe(sousTotalFinal)
    document.querySelector("#tableTotal").hidden = false
    document.querySelector("#boutonEnregistrer").hidden = false
    document.querySelector("#boutonImprimer").hidden = false
}

function calculTaxe(x){
    let tps = document.querySelector("#tps")
    let tvq = document.querySelector("#tvq")
    let calculTPS = ((x*5)/100);
    let calculTVQ = ((x*9.975)/100);
    let montantTxIn = (x + calculTPS + calculTVQ).toFixed(2);
    tps.innerHTML = calculTPS.toFixed(2)
    tvq.innerHTML = calculTVQ.toFixed(2)
    afficherTotalFinal.innerHTML = montantTxIn
}

function ajoutLigne(){
    var table = document.querySelector("#tableFacture");
    var row = table.insertRow(-1);

    row.innerHTML = `<tr> <td><select name="menu_frais_fixe" required onchange="afficherPrix(this)">
                    <option value="">- Sélectionner -</option>
                    {{#each frais_fixe}}
                        <option value="{{this.prix_frais_fixe}}">{{this.nom_frais_fixe}} {{this.prix_frais_fixe}}$ / {{this.unite_frais_fixe}}</option>
                    {{/each}}
                </select> 
            </td>
            <td></td>
            <td><input defaultValue="0" class="caseQuantite" type="number" id="quantite" name="quantite" required="true" placeholder="requis" onkeyup="calculFraisFixes(this)"></td>
            <td name="sousTotalFraisFixe"></td></tr>`
}

</script>

{{!-- facture faite selon les données de la BD quand un chantier est terminé. Prévoir ensuite pouvoir archiver ce chantier 
pour le supprimer de la liste des chantiers en cours --}}
<!-- facture.handlebars -->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item-1">
            <h1>Facture</h1>
            No facture {{chantier.id}}<br>
            <span class="sousTexte">
                Date: <input type="date" name="date" required="true"><br>
                Échéance <br><br>
            </span>
        </div>
        <div class="grid-item-3">
            <p class="coordonneesNom">
            <strong>Céramique David Laroche</strong><br>
            3012 Anctil, St-Denis-deBrompton, QC<br>
            819-222-2222<br>
            <span class="sousTexte">
            TPS: 33333333444 TVQ: 333333444444<br>
            RBQ: 22222222222</span>
            </p>
        </div>
        <div class="grid-item-4">
            Facturé à: <br>
            {{chantier.client_nom}}<br>
            {{chantier.client_adresse}}<br>
        </div>
        <div class="grid-item-6">
            Chantier à facturer<br>
            {{chantier.nom_projet}}<br>
            {{chantier.adresse_chantier}}<br>
        </div>
    </div>

    <table id="tableFacture" class="table table-striped">
        <tr class="table-secondary">
            <th>Description</th>
            <th>Taux</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-primary" onclick="ajoutLigne()">Ajouter un frais</button> </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>(Nombre heures){{chantier.total_heures}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><select name="menu_frais_fixe" onchange="afficherPrix(this)">
                    <option value="">Choisir</option>
                    {{#each fraisFixes}}
                        <option value="{{this.prix_frais_fixe}}">{{this.nom_frais_fixe}} {{this.prix_frais_fixe}}$ / {{this.unite_frais_fixe}}</option>
                    {{/each}}
                </select> 
            </td>
            <td id="p1">ici</td>
            <td><input class="caseQuantite" type="number" id="quantite" name="quantite" required="true" placeholder="requis"></td>
            <td></td>
        </tr>
    </table>
    <table id="tableTotal" class="table">
        <tr>
            <td></td>
            <td></td>
            <td>Sous-total</td>
            <td>$</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>TPS</td>
            <td>$</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>TVQ</td>
            <td>$</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>$</td>
        </tr> 
    </table>

    <div class="grid-container">
        <div class="grid-item-6">
            <button type="submit" class="btn btn-primary">Enregister et archiver ce chantier</button>  
            <button type="button" onclick="window.print()" class="btn btn-danger">Imprimer</button>
        </div>
    </div>

    <script>
        function afficherPrix(menu) {
            var valeur_prix = menu.value;
            var prix = document.querySelector("#p1");
            prix.innerHTML = valeur_prix;
        }

        function ajoutLigne() {
            var table = document.querySelector("#tableFacture");
            var row = table.insertRow(-1);
            row.innerHTML = `
                <td><select name="menu_frais_fixe" onchange="afficherPrix(this)">
                        <option value="">Choisir</option>
                        {{#each fraisFixes}}
                            <option value="{{this.prix_frais_fixe}}">{{this.nom_frais_fixe}} {{this.prix_frais_fixe}}$ / {{this.unite_frais_fixe}}</option>
                        {{/each}}
                    </select> 
                </td>
                <td><span id="prixFacture"></span></td>
                <td><input class="caseQuantite" type="number" id="quantite" name="quantite" required="true" placeholder="requis"></td>
                <td></td>
            `;
        }
    </script>
</body>
</html>
-->
