
    <style>
        .section {
            display: none;
        }
        .section.active {
            display: block;
        }
        .chantier-table {
            width: 100%;
            border-collapse: collapse;
        }
        .chantier-table th, .chantier-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .chantier-table th {
            background-color: #f2f2f2;
        }

    </style>

    <div class="form-group">
    <div id="sectionChantiersEnCours" class="section active">
        <table class="chantier-table">
            <thead>
                <tr>
                    <th>Nom du Projet</th>
                    <th>Adresse du Chantier</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Facture</th>
                </tr>
            </thead>
            <tbody>
                <h4>Chantiers en cours</h4>
                <button onclick="showSection('sectionChantiersArchives')" class="btn btn-primary" >Afficher les chantiers archivés</button><br><br>

                {{#each chantiersEnCours}}
                <tr>
                    <td>{{this.nom_projet}}</td>
                    <td>{{this.adresse_chantier}}</td>
                    <td>{{this.nom}}</td>
                    <td>{{this.statut}}</td>
                    <td><button class="btn btn-primary boutonGauche" onclick="location.href='/facture/{{this.id}}'">Facturer ce chantier</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="sectionChantiersArchives" class="section">
        <h4>Chantiers archivés</h4>
         <button onclick="showSection('sectionChantiersEnCours')" class="btn btn-primary">Afficher les chantiers en cours</button><br><br>
        <table class="chantier-table">
            <thead>
                <tr>
                    <th>Nom du Projet</th>
                    <th>Adresse du Chantier</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Facture</th>
                </tr>
            </thead>
            <tbody>
                {{#each chantiersArchives}}
                <tr>
                    <td>{{this.nom_projet}}</td>
                    <td>{{this.adresse_chantier}}</td>
                    <td>{{this.nom}}</td>
                    <td>{{this.statut}}</td>
                    <td><button class="btn btn-primary boutonGauche" onclick="location.href='/facture/{{this.id}}'">Afficher la facture</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="sectionClients" class="section">
        <h4>Clients</h4>
        <table class="chantier-table">
            <button onclick="showSection('sectionChantiersEnCours')" class="btn btn-primary">Retourner aux chantiers en cours</button><br><br>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Courriel</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                <tr>
                    <td>{{this.nom}}</td>
                    <td>{{this.courriel}}</td>
                    <td>{{this.adresse_client}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
 </div>
    <div class="button-container grid-item-centrer">
        <button onclick="showSection('sectionClients')">Liste des clients</button>
        <button onclick="location.href='/ajoutClient'">Ajouter un client</button>
        <button onclick="location.href='/ajoutChantier'">Ajouter un chantier</button>
    </div>



    <script>
        function showSection(sectionId) {
            // Masquer toutes les sections
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => {
                section.classList.remove('active');
            });

            // Afficher la section sélectionnée
            const selectedSection = document.getElementById(sectionId);
            if (selectedSection) {
                selectedSection.classList.add('active');
            }
        }
    </script>



